body
{
	margin:0px;
	text-align:center;
}



.header
{
	width:auto;
	height:800px;
	margin:auto;
	background-color:rgb(43,34,55);
	margin-top:0px;
	
}
.pic
{
width:500px;
height:100px;
float:left;
margin-left:30px;
margin-top:20px;
}
.spic
{
width:64px;
height:64px;
float:left;
margin-top:20px;
}
.header1
{
width:998px;
text-align:center;
height:300px;
margin:auto;
position:relative;
background-image:url(1.jpg);
border-radius:20px 20px 0px 0px;
}
.headup
{
width:auto;
height:500px;

}
.page
{
width:auto;
height:400px;
}
.type
{
text-align:left;
float:left;
margin-left:20px;
font-size:30px;
color:black;
width:400px;
height:50px;
margin-top:20px;
font-family:Lucida Sans Unicode;
font-weight:bold;

}
.footer
{
	width:auto;
	height:50;
	margin:auto;
	background-color:rgb(192,192,192);
}
#menu
{
width:550px;
height:100px;
float:right;
margin-top:20px;
margin-right:20px;
}
a.icon:havor,a.icon:active
{
background-color:rgba(189,176,209);
}
.icon
{
width:80px;
height:60px;
float:right;
margin-top:20px;
font-family:Lucida Sans Unicode;
font-size:20px;
color:rgb(200,189,215);

}
#maincenter
{
width:auto;
float: right;
height:200px;
margin-top:100px;
margin: auto;
text-align: center;
}
#center
{
width:auto;
height:200px;
margin:auto;
font:Trebuchet MS;
text-align:center;
font-size:40px;
color:rgb(200,189,215);
font-weight:bold;
}
.littleicon
{
width:120px;
height:50px;
float:left;
margin-left:130px;
border-radius:20px;
margin-top:30px;
font-size:20px;
color:white;
}
#form
{
width:430px;
height:398px;
margin-left:50px;
float:left;
}
#input
{

width:350px;
height:250px;
float:left;
margin-left:30px;
font-size:20px;
margin-to p:20px;

}
.inpt
{
width:340px;
height:90px;
float:left;

}
input
{
margin-top:30px;
width:200px;
height:50px;

}
button
{
width:100px;
height:30px;
margin-right:20px;
float:right;
margin-top:20px;
}

.line
{
width:auto;
height:10px;
background-color:rgb(4,200,121);
}